.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.gameContainer {
    display: grid;
    grid-template-areas:
        ". . ."
        ". game . "
        ". game ."
        ". . .";

    column-gap: var(--ui-margin-amt);
    row-gap: var(--ui-margin-amt);
}

.game {
    grid-area: game;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 6px;
}

.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerIcon {
    margin-left: 6px;
    margin-right: 6px;
}
