.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.layout {
    display: grid;
    grid-template-areas:
        ". . ."
        ". game . "
        ". game ."
        ". . .";

    column-gap: var(--ui-margin-amt);
    row-gap: 32px;
}

.game {
    grid-area: game;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    grid-area: nav;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
